In [1]:
%pip install -qqqq folium openpyxl

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import folium
from folium.plugins import MarkerCluster
import plotly.express as px
import plotly.io as pio

# Load the golf course data
df = pd.read_csv('data/Golf-Courses-USA.csv')

df[['name', 'citystate']] = df['name'].str.split('-', n=1, expand=True)
df[['description', 'street', 'city', 'statezip', 'phone']] = df['description'].str.split(',', n=4, expand=True)
df[['city', 'state']] = df['citystate'].str.split(',', n=1, expand=True)
df['zip'] = df['statezip'].str.extract(r'(\d{5}(?:-\d{4})?)')
df[['type', 'num_holes']] = df['description'].str.extract(r'\((.*?)\)\s+\((\d+)\s+Holes\)')

df['num_holes'] = df['num_holes'].fillna(9).astype(int)
df['state'] = df['state'].str.strip()

df = df[['longitude','latitude','name','type','num_holes','street','city','state','zip','phone']].reset_index(drop=True)

# Create a map centered on the USA
# The location is an approximate center of the contiguous United States.
map_center = [39.8283, -98.5795]
usa_map = folium.Map(location=map_center, zoom_start=4)

# Add a marker for each golf course
for index, row in df.iterrows():
    # Create a popup with the name of the golf course
    popup_text = f"<strong>{row['name']}</strong>"

    folium.Marker(
        location=[row['latitude'], row['longitude']],
        # popup=popup_text,
        popup=None,
        icon=folium.Icon(color='green', prefix = 'fa', icon='golf-ball-tee')
    ).add_to(usa_map)

# Save the map to an HTML file
output_file = 'output/golf_courses_map.html'
usa_map.save(output_file)

print(f"Interactive map saved to {output_file}")

Interactive map saved to output/golf_courses_map.html

In [3]:
# Create map and add MarkerCluster
usa_map = folium.Map(location=map_center, zoom_start=4)
marker_cluster = MarkerCluster().add_to(usa_map)

# Add markers to the cluster
for _, row in df.iterrows():
    popup_text = f"<strong>{row['name']}</strong>"
    folium.Marker(
        location=[row['latitude'], row['longitude']],
        popup=popup_text,
        icon=folium.Icon(color='green', prefix='fa', icon='golf-ball-tee')
    ).add_to(marker_cluster)

# Save the map to an HTML file
output_file = 'output/golf_courses_map.html'
usa_map.save(output_file)

print(f"Interactive map saved to {output_file}")

Interactive map saved to output/golf_courses_map.html

In [4]:
# The GCSAA and USGA surveys are industry-standard references, capturing real data from hundreds of U.S. golf facilities over multiple years (2005, 2013, 2020) 
gallons_9_hole = 12600000 # per year
gallons_18_hole = 21600000 # per year

# https://www.epa.gov/watersense/statistics-and-facts#:~:text=Each%20American%20uses%20an%20average,the%20United%20States%20in%202015).
gallons_per_person = 82 * 365

In [5]:
water_usage = pd.DataFrame()
water_usage['num_holes'] = sorted(df['num_holes'].unique())

def compute_gallons(num):
    if num == 9:
        return gallons_9_hole
    elif num % 18 == 0:
        return gallons_18_hole * (num // 18)
    elif num % 9 == 0:
        num_18 = num // 18
        remainder = num % 18
        if remainder == 9:
            return gallons_18_hole * num_18 + gallons_9_hole
    return gallons_18_hole

water_usage['gallons_per_year'] = water_usage['num_holes'].apply(compute_gallons)
water_usage

    num_holes  gallons_per_year
0           9          12600000
1          18          21600000
2          19          21600000
3          27          34200000
4          36          43200000
5          45          55800000
6          54          64800000
7          63          77400000
8          72          86400000
9          81          99000000
10         90         108000000
11         99         120600000
12        108         129600000
13        126         151200000
14        252         302400000

In [6]:

state_pop = pd.read_excel("data/NST-EST2024-POP.xlsx", skiprows=3)
state_pop.rename(columns={'Unnamed: 0': 'state_long',
                       2024 : 'population'}, inplace=True)
state_pop['state_long'] = state_pop['state_long'].str.replace('.', '', regex=False).str.strip()

state_pop = state_pop[['state_long','population']].dropna()

# US state name to abbreviation mapping
us_state_abbrev = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI',
    'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
    'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME',
    'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN',
    'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE',
    'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM',
    'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH',
    'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI',
    'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX',
    'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
    'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY',
    'Puerto Rico': 'PR'
}

# Add a new column with the abbreviation (NaN if not found)
state_pop['state'] = state_pop['state_long'].map(us_state_abbrev)

In [7]:
summary = df.merge(water_usage, on='num_holes', how='left')
summary = summary.groupby(['state']).agg({'gallons_per_year': 'sum'}).reset_index()
summary = summary.merge(state_pop, on = 'state', how = 'left')
summary['gallons_per_person'] = gallons_per_person * summary['population']
summary['golfwater_div_pop'] = (summary['gallons_per_year'] / summary['population']).astype(int)
summary['population'] = summary['population'].astype(int)
summary

,state,gallons_per_year,state_long,population,gallons_per_person,golfwater_div_pop
0,AK,396000000,Alaska,740133,2.215218e+10,535
1,AL,5734800000,Alabama,5157699,1.543699e+11,1111
2,AR,3895200000,Arkansas,3088354,9.243444e+10,1261
3,AZ,8073000000,Arizona,7582384,2.269408e+11,1064
4,CA,21477600000,California,39431263,1.180178e+12,544
5,CO,5738400000,Colorado,5957493,1.783078e+11,963
6,CT,3735000000,Connecticut,3675069,1.099948e+11,1016
7,DC,111600000,District of Columbia,702250,2.101834e+10,158
8,DE,1035000000,Delaware,1051917,3.148388e+10,983
9,FL,28296000000,Florida,23372215,6.995304e+11,1210
10,GA,9855000000,Georgia,11180878,3.346437e+11,881
11,HI,2005200000,Hawaii,1446146,4.328315e+10,1386
12,IA,6795000000,Iowa,3241488,9.701774e+10,2096
13,ID,2257200000,Idaho,2001619,5.990846e+10,1127
14,IL,14193000000,Illinois,12710158,3.804150e+11,1116
15,IN,9820800000,Indiana,6924275,2.072436e+11,1418
16,KS,4480200000,Kansas,2970606,8.891024e+10,1508
17,KY,5878800000,Kentucky,4588372,1.373300e+11,1281
18,LA,3362400000,Louisiana,4597740,1.376104e+11,731
19,MA,7921800000,Massachusetts,7136171,2.135856e+11,1110
20,MD,4649400000,Maryland,6263220,1.874582e+11,742
21,ME,2588400000,Maine,1405012,4.205201e+10,1842
22,MI,20298600000,Michigan,10140459,3.035039e+11,2001
23,MN,10384200000,Minnesota,5793151,1.733890e+11,1792
24,MO,7002000000,Missouri,6245466,1.869268e+11,1121
25,MS,3420000000,Mississippi,2943045,8.808534e+10,1162
26,MT,2142000000,Montana,1137233,3.403738e+10,1883
27,NC,13039200000,North Carolina,11046024,3.306075e+11,1180
28,ND,1789200000,North Dakota,796568,2.384128e+10,2246
29,NE,4030200000,Nebraska,2005465,6.002357e+10,2009
30,NH,2190600000,New Hampshire,1409032,4.217233e+10,1554
31,NJ,7014600000,New Jersey,9500851,2.843605e+11,738
32,NM,1933200000,New Mexico,2130256,6.375856e+10,907
33,NV,2710800000,Nevada,3267467,9.779529e+10,829
34,NY,17996400000,New York,19867248,5.946267e+11,905
35,OH,16930800000,Ohio,11883304,3.556673e+11,1424
36,OK,4255200000,Oklahoma,4095393,1.225751e+11,1039
37,OR,4050000000,Oregon,4272371,1.278721e+11,947
38,PA,15303600000,Pennsylvania,13078751,3.914470e+11,1170
39,RI,1067400000,Rhode Island,1112308,3.329138e+10,959
40,SC,8739000000,South Carolina,5478831,1.639814e+11,1595
41,SD,1978200000,South Dakota,924669,2.767534e+10,2139
42,TN,6352200000,Tennessee,7227750,2.163266e+11,878
43,TX,19045800000,Texas,31290831,9.365346e+11,608
44,UT,2503800000,Utah,3503613,1.048631e+11,714
45,VA,7916400000,Virginia,8811195,2.637191e+11,898
46,VT,1369800000,Vermont,648493,1.940940e+10,2112
47,WA,5922000000,Washington,7958180,2.381883e+11,744
48,WI,10800000000,Wisconsin,5960975,1.784120e+11,1811
49,WV,2354400000,West Virginia,1769979,5.297547e+10,1330
50,WY,1152000000,Wyoming,587618,1.758741e+10,1960

In [8]:
fig = px.choropleth(
    summary,
    locations='state',
    locationmode='USA-states',
    color='golfwater_div_pop',
    color_continuous_scale=[(0, 'white'), (1, 'darkblue')],
    scope='usa',
    labels={'golfwater_div_pop': 'Golf Water Use per Person (gal/year)'},
    title='Golf Course Water Use per Person by State'
)
fig.update_layout(geo=dict(bgcolor='rgba(0,0,0,0)'))

pio.write_html(fig, file='output/heatmap-golfwater-perperson.html')